src/main/xsd/common/Footer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://company.com/employees"
  xmlns="http://company.com/employees" elementFormDefault="qualified">

  <xs:element name="Footer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="statusCode" type="xs:string" />
        <xs:element name="statusMessage" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>