src/main/xsd/common/Header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://company.com/employees"
  xmlns="http://company.com/employees" elementFormDefault="qualified">
  
  <xs:element name="Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId" type="xs:string" />
        <xs:element name="timestamp" type="xs:dateTime" />
        <xs:element name="sourceSystem" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>